<div class="aboutView">
    <img src="images/IMG_6124.JPG" alt="Mel shaping a bowl on a pottery wheel" class="aboutImage">
    <div class="aboutText">
      <p>I began making pots while in high school. I fell in love with clay and all of the possibilities it presents. Twenty years later, I am still making pots and finding new ways to create with clay.</p>

      <p>I like to play with form, balance, color and curve to make pieces that are fun to look at and fun to use.  I think it is important for people to connect with the pot and see if it is a good fit. The connection one has to a pot makes the morning coffee or evening bowl of soup so much more enjoyable.</p>

      <p>I use two different clay bodies; high fire stoneware with ochre, which creates the beautiful rich dark clay body and high fire white stoneware, which allows bright glazes to pop out.  All of my glazes are lead-free microwave and dishwasher safe.</p>
    </div>


</div>
