<div class="homeView">
  <img src="images/IMG_5471.JPG" alt="stack of mugs" class="homeImage">
  <div class="currentEvent">
    <p>Melissa Favero invites you to join her for the Holiday Art Show at Uptown Clay!</p>
    <p>Friday, December 2nd 5-9pm</p>
    <p>Saturday, December 3rd 12-6pm</p>
    <p>2845 Harriet Ave S, Minneapolis 55408</p>
    <p>Buy local pots and enjoy wine and snacks!</p>
  <div>

  <!-- This div will be for the photo fader to come -->
  <!-- <div class="container slider">
      <img ng-repeat="slide in slides" class="slide animate-show"
       ng-src="{{slide.image}}">
  </div> -->
</div>
