
  <!-- <img src="images/IMG_5481.JPG" alt="blue bowl, two white mugs"> -->
  <div class="container slider">
      <img ng-repeat="slide in slides" class="slide slide-animation" ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">

      <a class="arrow prev" href="#" ng-click="nextSlide()"></a>
      <a class="arrow next" href="#" ng-click="prevSlide()"></a>

      <nav class="nav">
        <div class="wrapper">
          <ul class="dots">
            <li class="dot" ng-repeat="slide in slides">
                  <a href="#" ng-class="{'active':isCurrentSlideIndex($index)}"
                   ng-click="setCurrentSlideIndex($index);">{{slide.description}}
                  </a>
            </li>
          </ul>
        </div>
      </nav>
  </div>
