<div class="shopView">
  <div class="shopText">
    <div class="stores">
      <h1>Find Mel's pottery at these local businesses...</h1>
        <div class="iLikeYou">
          <a href="http://www.ilikeyouonline.com/"><img src="images/i_like_you.png"><a/>
          <p>i like you</p>
          <p>small things for a prettier life</p>
        </div>
    </div>
    <div class="events">
      <h1>Meet Mel and check out her work at these great events...</h1>
        <div class="powderhorn">
          <a href="http://powderhornartfair.com/"><img src="images/powderhorn_art_fair.png"></a>
          <p>25th Annual Powderhorn Art Fair</p>
        </div>
    </div>
    <div class="appointment">
      <h1>Or set up an appointment to view Mel's work at Uptown Clay.</h1>
        <div class="uptownclay">
          <a href="https://uptownclay.com/"><img src="images/uptown_clay.jpg"></a>
          <p>Uptown Clay</p>
          <p>melfav@gmail.com or 612-419-3237</p>
        </div>
    </div>
  </div>
</div>
