<div class="shopView">
  <img src="images/pottery_show.jpg" class="shopImage">
  <div class="shopText">
    <div class="stores">
      <h1>Find Mel's pottery at these local businesses...</h1>
        <div class="iLikeYou">
          <img src="images/Powderhorn_art_fair.jpg">
          <p>i like you</p>
        </div>
    </div>
    <div class="events">
      <h1>Meet Mel and check out her work at these great events...</h1>
        <div class="powderhorn">
          <img src="images/Powderhorn_art_fair.jpg">
          <p>2016 Powderhorn Art Fair</p>
        </div>
    </div>
    <div class="appointment">
      <h1>Or set up an appointment to view Mel's work at her studio.</h1>
        <div>
          <p>melfav@gmail.com or (612)419-3237</p>
        </div>
    </div>
  </div>
</div>
