<div class="workView">
  <div class = "workImages">
    <img src="images/crop2.jpg" alt="three copper-colored cups with a brown, gray and blue-green mug" class="imageOne">
    <img src="images/IMG_5471.JPG" alt="numerous brown, gray and blue-green mugs with two matching bowls" class="imageTwo">
    <img src="images/IMG_5477.JPG" alt="large bowl, medium bowl, small bowl, plate, cup, all rustic red-brown colored" class="imageThree">
    <img src="images/IMG_5481.JPG" alt="blue bowl, two white mugs with blue interior" class="imageFour">
    <img src="images/IMG_5500.JPG" alt="single brown, gray and blue-green mug" class="imageFive">
    <img src="images/Melissa_1.jpg" alt="rustic red-brown colored bowl, cup, jar and vase filled with yellow flowers" class="imageSix">
    <img src="images/crop1.jpg" alt="three copper-colored cups in a bed of grass" class="imageSeven">
  </div>
</div>
